* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    padding-top: 70px;
    width: 100%;
    height: 100vh;
    font-family: "Poppins";
    background: linear-gradient(to right, #000 50%, #fff 50%);
}

div.container {
    display: block;
    width: 85%;
    height: 90%;
    background: #fff;
    box-shadow: 0 0 10px 0 #888;
    margin: auto;
}

div.header {
    width: 100%;
    height: 70px;
    padding: 10px 50px;
    /* background-color: rgba(128, 128, 128, 0.529); */
}
div.header-left {
    width: 43%;
    height: 100%;
    display: inline-block;
    /* background-color: bisque; */
}
div.logo {
    width: 20%;
    height: 100%;
    display: inline-block;
    margin-right: 15px;
    /* background-color: chocolate; */
}
div.logo img {
    display: block;
    margin: auto;
    width: 70%;
    height: 100%;
}
div.navbar {
    float: right;
    width: 75%;
    height: 100%;
    display: inline-block;
    /* background-color: chocolate; */
}
div.navbar nav {
    display: inline-block;
    padding: 17px 10px;
}
div.navbar nav a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    
}
a.right {
    margin-left: 30px;
}
div.header-right {
    width: 15%;
    height: 100%;
    display: inline-block;
    float: right;
    /* background-color: bisque; */
}
div.boxs {
    float: left;
    width: fit-content;
    height: 100%;
    /* background-color: #888; */
}
div.boxs span {
    cursor: pointer;
    margin-left: 5px;
    padding-top: 13px;
}
div.boxs p {
    margin-left: 5px;
    margin-right: 25px;
    padding-top: 14px;
}
div.boxs img {
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding-top: 8px;
    margin-left: 7px;
}



div.body-container {
    width: 80%;
    height: 75%;
    margin: 0 auto;
    margin-top: 35px;
    /* background-color: orange; */
}
div.body-left {
    width: 40%;
    height: 100%;
    display: inline-block;
    /* background-color: rgb(219, 91, 91); */
}
div.part-up {
    display: block;
    width: 100%;
    height: 80%;
    /* background-color: rgb(94, 94, 46); */
}
h2 {
    color: orange;
    word-spacing: 10px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 16px;
}
h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
}
h4 {
    margin-top: 20px;
    color: #888888a0;
}
div.select {
    margin-top: 20px;
    width: 100%;
    height: fit-content;
    /* background-color: burlywood; */
}
li.list {
    align-items: center;
    list-style: none;
    display: inline-flex;
    /* background-color: red; */
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    border: 3px solid #000;
    border-radius: 5px;
}
li.qnt,
li.size {
    cursor: pointer;
}
li.qnt span,
li.size span {
    color: orange;
    font-size: 30px;
}
li.size {
    margin-left: 5px;
}
li.price {
    border: 3px solid orange;
    color: orange;
    margin-left: 35px;
    padding: 10px 5px;
}
div.couleur {
    width: 100%;
    height: 25px;
    /* background-color: lightblue; */
    margin-top: 15px;
}
div.couleur ul {
    align-items: center;
}
li.text-color {
    float: left;
    display: inline-flex;
   list-style: none;
    width: fit-content;
    padding: 4px 0;
    /* background-color: rosybrown; */
}
li.text-color p {
    /* padding-bottom: 10px; */
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

li.color {
    cursor: pointer;
    float: left;
    margin-top: 2.5px;
    margin-left: 10px;
    list-style: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* background-color: green; */
    display: inline-flex;
}
li.blanc {
    background-color: #fff;
    box-shadow: 0 0 2px 0 #000;
}
li.noir {
    background-color: #000;
    box-shadow: 0 0 2px 0 #000;
}
li.vert {
    background-color: green;
    box-shadow: 0 0 2px 0 #000;
}
li.rouge {
    background-color: red;
    box-shadow: 0 0 2px 0 #000;
}
div.panier {
    text-align: center;
    width: fit-content;
    height: fit-content;
    /* background-color: antiquewhite; */
}
li.add {
    padding: 10px 25px;
    background-color: #000;
    color: #fff;
    margin-top: 15px;
    list-style: none;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
}
div.part-down {
    margin-top: 20px;
    padding: 15px 0;
    display: block;
    width: 100%;
    /* background-color: rgb(94, 94, 46); */
}
div.part-down p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #888888a0;
}
div.body-right {
    width: 55%;
    height: 100%;
    display: inline-block;
    float: right;
    /* background-color: rgb(219, 91, 91); */
}
div.big-image {
    width: 100%;
    height: 75%;
    margin: auto;
    /* background-color: rgba(248, 118, 139, 0.663); */
    background-image: url(./images/others/nike_logo-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: 100% -50%;
}
div.big-image img.change {
    display: block;
    margin: auto;
    width: 90%;
    height: 85%;
    padding: 0 50px;
}
div.small-imgs {
    width: 100%;
    height: 25%;
    /* background-color: pink; */
}
div.span1,
div.images,
div.span2 {
    float: left;
}
div.span1 {
    width: 5%;
    height: 100%;
    cursor: pointer;
    /* background-color: aquamarine; */
}
div.span1 span {
    font-weight: bold;
    padding-top: 40px;
}
div.images {
    width: 90%;
    height: 100%;
    /* background-color: #888; */
}
div.shoes {
    display: inline-block;
    margin-left: 6px;
    width: 23%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    /* background-color: blue; */
}
.boxshadow {
    box-shadow: 0 0 5px 0 #888;
}
img.small-shoes {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    width: 90%;
    height: 65%;
    border-radius: 50%;
}
div.span2 {
    width: 5%;
    height: 100%;
    cursor: pointer;
    /* background-color: aquamarine; */
}
div.span2 span {
    font-weight: bold;
    padding-top: 40px;
    float: right;
}